@model IEnumerable<BSUTCloud.Models.StateExam>

<ul class="materialList">
    @foreach (var item in Model.OrderBy(i => i.Name))
    {
        <li><a target="_blank" href="@item.Link">@item.Name</a></li>
    }
</ul>